body, div, a {
    font-family: Helvetica
}

.provider {
    z-index: 10000;
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 5px;
    font-size: 10pt;
    color: white;
    width: 120px;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding-top: 5px;
}

.provider span {
  margin: 10px;
}

.provider ul {
  margin: 5px;
  padding-left: 20px;
}

.provider a {
  color: white;
}

.title {
    color: black;
    font-weight: bold;
    text-shadow: 0px -1px 1px rgba(255, 255, 255, 1.0);
    text-align: center;
    font-size: 36px;
    pointer-events: none;
}

.photo-frame {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5);
}
.photo {
    background-color: #DDDDDD;
}
